name: Tests

on: [push, pull_request]

jobs:
  tests:
    name: Tests (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: [ "3.7", "3.6" ]
    steps:
      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v1
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
      - name: Install poetry
        shell: bash -l {0}
        run:
          conda install poetry
      - name: Install package
        shell: bash -l {0}
        run: |
          git clone https://github.com/Clinical-Genomics/shipping
          cd shipping
          poetry install
      - name: Run tests
        shell: bash -l {0}
        run: |
          pytest -v